html {
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;

}

img {
    width: 20em;
    display: block;
}

section {
    margin-left: 5em;
    margin-bottom: 4em;
}



.circle {
    height: 2em;
    width: 2em;
    background-color: black;
    border-radius: 100%;
    position: absolute;
}
button {
    background: none;
	color: inherit;
	border: solid 2px black;
    padding: 1em;
    border-radius: .5em;
    font-size: 1.5em;
    cursor: pointer;
    outline: inherit;
    margin-top: 1em;
}

button:hover {
    border: solid 2px orange;
    color: orange;
}
